@import 'variables';
@import 'global';

.leaderboardContainer {
  display: flex;
  flex-direction: column;
  color: $font-color;
  font-size: $font-size-md;

  .leaderboardContainerInner {
    display: flex;
    justify-content: space-between;
  }
}


.leaderboardText {

}

.leaderboardScore {

}
