.questionContainer {
  height: 75%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionHeader {
  display: flex;
  justify-content: space-between;
}

.questionTitle {

}

.questionScore {

}

.questionThisRoundScore {

}

.questionThisRoundScorePlus {

}

.questionThisRoundScoreValue {

}


.questionCounter {

}

.questionDetailsContainer {

}

.questionDetailsStreamerName {

}

.questionDetailsStreamImage {

}

.streamImage {

}


.streamerName {

}

.questionDetailsStreamName {

}

.streamName {

}

.questionStaticQuestion {

}

.questionAnswerContainer {

}

.questionAnswer {

}

.questionAnswer.disabled {
  opacity: 0.6;
}

.questionAnswer.correctAnswer {
  border: 1px solid green;
}

.questionAnswer.wrongAnswer {
  border: 1px solid red;
}

.questionAnswerTitle {

}
/* 
.questionAnswerImageContainer {

}

.questionAnswerImage {

} */